<% @users.each do |user| %>
<div class="card">
  <div class="card-content">
    <div class="row valign-wrapper">
      <div class="col s2 xl1">
        <img src="<%= "/user_images/#{user.image_name}" %>" alt="" class="circle profile-img">
      </div>
      <div class="col s10 xl11">
        <a class="card-title" href="/users/<%= user.id %>"><%= user.name %></a>
      </div>
    </div>
  </div>
  <div class="card-action">
  </div>
</div>
<% end %>
