// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-img {
  width: 50px;
  height: 50px;
}

.profile-img {
  width: 75px;
  height: 75px;
}

.dropdown-content {
  position: fixed;
  z-index: 10;
}

.divider {
  margin: 10px;
}

.hover-text:hover {
  text-decoration: underline;
}
